/* index.css */

.hero {
    background-color: #3fa877;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
    font-family:cursive;
}

p {
    font-size: 1.25rem;
    margin-bottom: 40px;
    color: #f8f9fa;
}

.nav {
    margin-top: 30px;
}

.nav a {
    margin: 0 15px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    display: inline-block;
    color: #fff;
}

.btn-primary {
    background-color: #1f6f2a;
    color: white;
    font-family: cursive;
}

.btn-secondary {
    background-color: #1f6f2a;
    color: white;
    font-family: cursive;
}

.nav a:hover {
    background-color: #0056b3;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
