/* login.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #3fa877;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: cursive;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #1f6f2a;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: cursive;
}

form button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
}
