/* .container {
    padding: 20px;
}

h2 {
    color: #333;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
}

.button:hover {
    background-color: #0056b3;
}

h3 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
} */
body {
    font-family: cursive;
    background-color: #d9f2e6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dashboard-container, .bug-container {
    width: 100%;
    max-width: 500px;
    background-color: #3fa877;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
    max-height: 90vh;
}

header h1, h2, h3 {
    color: #fff;
    margin-bottom: 20px;
    font-family: cursive;
}

.user-info p, .projects .project p {
    color: #fff;
    font-size: 1rem;
}

.projects .project {
    margin-bottom: 20px;
}

.projects .project h4 {
    color: #fff;
    margin-bottom: 10px;
}

.projects button {
    background-color: #1f6f2a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: cursive;
    margin-right: 10px;
}

.projects button:hover {
    background-color: #0056b3;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.btn-primary {
    display: inline-block;
    background-color: #1f6f2a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    font-family: cursive;
}
.btn-primary:hover {
    background-color: #0056b3;
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #1f6f2a;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: cursive;
}

form button:hover {
    background-color: #0056b3;
}

/* Additional Scroll Fix */
.bug-container form textarea {
    resize: vertical;
    max-height: 200px;
}

form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    height: 100px; /* Adjust this value to control the height */
    resize: vertical; /* Allow vertical resizing */
}

